<!DOCTYPE html>
<html>
    <head>
        <title>Blogz</title>
        <style type='text/css'>
            .container{
                width: 100px;
            }
            nav{
                width: 50%;
            }
        </style>
    </head>
    <body>
        <div class='container'>
        <nav>
            <a href='/'>home</a>
            <a href='/allPosts'>all posts</a>
            <a href='/newPost'>new post</a>
        </nav>
        <nav>
            <a href='/login' style='float: left;'>login</a>
            <a href='/logout' style='float: left;'>logout</a>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
    </body>
</html>